.mid{
  width: 700px;
  margin: auto;
}

.main-menu{
  border-bottom: 1px solid #6d6d6d;
  display: inline-block;
  position: fixed;
  z-index: -1;
  display: block;
  height: 37px;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu li {
  float: left;
}

.main-menu a {
  text-decoration: none;
  color: inherit;
}

.main-menu .link{
  font-family: Georgia;
  font-style: italic;
  font-size: 18px;
  color: black;
  background-color: #CFCFCF;
  padding: 0px 20px 0px 20px;
  margin-left: 2px;
  height: 37px;
  line-height: 37px;box-sizing:border-box;
}

.main-menu .home{
  font-family: Georgia;
  font-style: italic;
  font-size: 18px;
  color: black;
  background-color: #CFCFCF;
  padding: 0px 20px 0px 20px;
  border-left:  2px solid #cfcfcf;
  margin-left: 0px;
  height: 37px;
  line-height: 37px;
}

.main-menu .link:hover{
  color: #8c8c8c;
  background-color: white;
  border:  1px solid #6d6d6d;
  border-bottom: 0px;
  margin-left: 0px;
  height: 38px;
}

.main-menu .home:hover{
  color: #8c8c8c;
  background-color: white;
  border: 1px solid #6d6d6d;
  border-bottom: 0px;
  margin-left: 0px !important;
  height: 38px;
}

.main-menu ul ul{
  display: none;
  width: 178px;
  border: 1px solid #6d6d6d;
  border-top: 0px;
  padding: 10px;
  background-color: white;
  position: absolute;
  list-style-type: none;
  margin: 0px 0px 0px -21px;
  overflow: hidden;
}

.main-menu ul ul li{
  float: none;
}

.main-menu ul li:hover > ul{
  display: block;
}

.main-menu .sub-link{
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  color: black;
  padding: 1px 0px 5px 0px;
  border-bottom: 1px solid #cfcfcf;
  display: block;
}

.main-menu .sub-link:hover{
  color: #bd0707;
  padding: 5px 0px 5px 0px;
  display: block;
}